name: Release

on:
  release:
    types: [created]

jobs:
  docker:
    name: Build Production Docker Image
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push production image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            zhaozisong0/robin-web-production:latest
            zhaozisong0/robin-web-production:${{ github.ref_name }}
          build-args: |
            TAG_NAME=${{ github.ref_name }}
            VITE_SITE_URL=${{ secrets.VITE_SITE_URL }}
            VITE_CDN_IMAGE_URL=${{ secrets.VITE_CDN_IMAGE_URL }}
